#Consti:
#do not track the rknn crap files
external/rknn-toolkit/packages/*.whl

#do not track this crap neither:
external/rockx/python/*.whl

#do not track the generated images:
IMAGE/*

#also do not track this hughe file :)
kernel/kernel.git.rar

# do not track the log (it increases with every build run)
br.log

#also, these img files are created during the build process:
rockdev/oem.img
rockdev/update.mg

#and this whole repo:
.rootfs/*
